// Issue 24 Titlepage Styles

// Project title
$title: '' !default;

// CSS selector for the titlepage. Keep in sync with the markdown
$title-page-selector: '#title-page' !default;

// Projec title length
$title-length: 10 !default;

// Riskpool extension color as hexadecimal
$riskpool-light: #5050c5 !default;

// Background color as hexadecimal
$riskpool-medium: #ffffff !default;

// Riskpool text color as hexadecimal
$riskpool-dark: #000000 !default;

// Height of spread-contents (used for vertical alignment) in pixels
$spread-height: 500px !default;

// Tablet spread-height in pixels
$spread-height-tablet: 430px !default;

// Mobile spread-height in pixels
$spread-height-mobile: 300px !default;

// Font names. Adding here for reference, should not be changed from the values below
$font-risk-pool-ext: 'RiskPool Extension';
$font-risk-pool-base: 'RiskPool Base';
$font-risk-pool-full: 'RiskPool Full';
$font-risk-pool-regular: 'RiskPool Regular';
