@import '~/b-ber-theme-ccc/application';

// Mixin to generate font-face rules using remote assets (stored on S3). Called
// below in reader scope (`$build == 'reader') since it's not necessary for
// other builds.

$remote-font-base-url: 'https://b-ber-fonts.s3.amazonaws.com/';

@mixin remote-font-face(
  $font-name,
  $file-name,
  $formats: ('ttf', 'otf'),
  $weight: 400,
  $style: normal
) {
  $filepath: $remote-font-base-url + $file-name;
  @font-face {
    font-family: '#{$font-name}';
    @each $format in $formats {
      src: url($filepath+'.'+$format);
    }
    font: {
      weight: $weight;
      style: $style;
    }
  }
}

@if $build == 'reader' {
  @include remote-font-face(
    'Riskpool Base',
    'Risk_Pool_Base-Regular',
    ('eot', 'svg', 'ttf', 'woff', 'woff2')
  );
  @include remote-font-face(
    'Riskpool Original',
    'Risk_Pool_Standard-Regular',
    ('eot', 'svg', 'ttf', 'woff', 'woff2')
  );
  @include remote-font-face(
    'Riskpool Full',
    'Risk_Pool_Two_Layers-Regular',
    ('eot', 'svg', 'ttf', 'woff', 'woff2')
  );
  @include remote-font-face(
    'Riskpool Extension',
    'Risk_Pool_Extension-Regular',
    ('eot', 'svg', 'ttf', 'woff', 'woff2')
  );
}

#{$title-page-selector} {
  @if $build == 'reader' {
    position: absolute;
    width: 100%;
    top: 0px;

    @include break('mobile') {
      width: 100%;
      height: 100vh;
      min-width: 320px; // firefox fix
    }

    #spread-contents {
      margin: auto;
      max-width: 960px;
      width: 88%;
      margin-top: calc((100vh - #{$spread-height-tablet} + 100px) / 2);

      @include break('desktop') {
        margin-top: calc((100vh - #{$spread-height} + 100px) / 2);
      }

      @include break('mobile') {
        margin-top: calc((100vh - #{$spread-height-mobile} + 35px) / 2);
        min-width: 320px; // firefox fix
        width: 100%;
        height: $spread-height-mobile;
        padding: 0px 30px;
      }

      @include break('mobile-landscape') {
        margin-top: calc((100vh - #{$spread-height-mobile} + 125px) / 2);
        width: 100%;
        max-width: unset;
        padding-left: 30px;
      }

      @include break('tablet') {
        height: $spread-height-tablet;
      }

      @include break('wide') {
        max-width: 1280px;
        font-size: 1.1em;
      }

      &:before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        z-index: -2;
        background: $riskpool-medium;
      }

      h1 {
        font-family: 'Riskpool Full';
        color: $riskpool-dark;
        transition: color 0.4s ease;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        display: block;
        position: relative;
        width: 90%;
        max-width: 900px;
        padding: 0;

        @include break('wide') {
          width: 85%;
          margin-right: 15%;
        }

        @include break('mobile') {
          max-width: 400px;
        }

        @if str-length($title) < 26 {
          font-size: 100px;
          @include break('desktop') {
            font-size: 140px;
          }
          @include break('wide') {
            font-size: 165px;
          }
          @include break('tablet') {
            font-size: 90px;
          }
          @include break('mobile') {
            font-size: 56px;
          }
          @include break('mobile-landscape') {
            font-size: 56px;
          }
        }

        @if str-length($title) > 26 {
          @include break('desktop') {
            font-size: 90px;
          }
          @include break('wide') {
            font-size: 115px;
          }
          @include break('tablet') {
            font-size: 55px;
          }
          @include break('mobile') {
            font-size: 40px;
            width: 90%;
          }
          @include break('mobile-landscape') {
            font-size: 40px;
            width: 90%;
          }
        }

        &:before {
          font-family: 'Riskpool Extension';
          color: $riskpool-light;
          content: $title;
          display: block;
          position: absolute;
          transition: opacity 0.4s ease;

          @if str-length($title) < 26 {
            @include break('desktop') {
              -moz-transform: translateY(0.5px); // firefox fix
            }
          }

          @if str-length($title) > 26 {
            @include break('desktop') {
              margin-top: 0px;
              -moz-transform: translateY(0.5px); // firefox fix
            }
          }

          @include break('wide') {
            -moz-transform: translateY(0px); // firefox fix
          }

          @include break('tablet') {
            margin-top: 0px;
            -moz-transform: translateY(0px); // firefox fix
          }

          @include break('mobile') {
            margin-top: 0px;
            -moz-transform: translateY(0.5px); // firefox fix
          }

          @include break('mobile-landscape') {
            margin-top: 0px;
            -moz-transform: translateY(0.5px); // firefox fix
          }
        }

        &:after {
          position: absolute;
          content: $title;
          transition: opacity 0.4s ease;
          font-family: 'Riskpool Original';
          color: $riskpool-dark;
          top: -1px;
          left: 0;
          opacity: 0;
          z-index: -1;
        }

        &:hover {
          color: transparent;

          &:before {
            opacity: 0;
            transition: opacity 0.4s ease;
          }

          &:after {
            opacity: 1;
          }
        }
      }

      .authors,
      .subhead p {
        position: relative;
        float: left;
        font-family: 'Riskpool Full';
        color: $riskpool-dark;
        font-weight: normal;
        @include type-settings(-1);

        @include break('desktop') {
          @include type-settings(-2);
          line-height: 1.2em;
        }

        line-height: 1.2em;
        margin-top: 2.5em;
        word-break: break-word;
        white-space: normal;
        padding: 0;

        @include break('mobile') {
          margin-top: 1.7em;
        }

        @include break('mobile-landscape') {
          margin-top: 1em;
        }
      }

      .authors {
        width: 39.5%;
        max-width: 330px;
        margin-left: 1.5%;
        a {
          color: $riskpool-dark;
          text-decoration: none;
          &:after {
            content: '\A';
            white-space: pre;
          }
        }

        @include break('mobile') {
          width: 100%;
        }

        @include break('mobile-landscape') {
          width: 100%;
          max-width: unset;
        }
      }

      .subhead {
        position: relative;
        float: left;
        height: auto;
        p {
          width: 100%;
          margin-left: 2.3%;
          max-width: 350px;
          text-indent: 0;

          @include break('desktop') {
            max-width: 420px;
          }

          @include break('mobile') {
            max-width: 320px;
            margin: 1.9em 0 0 1em;
          }

          @include break('mobile-landscape') {
            max-width: 460px;
            margin: 1.7em 0 0 1em;
          }

          @include break('wide') {
            max-width: 500px;
          }
        }
      }

      .project-context {
        position: relative;
        float: left;
        width: 100%;
        height: 30px;
        margin-top: 1.2em;
        font-size: 0.45em;
        bottom: unset;
        color: $riskpool-dark;

        @include break('mobile') {
          margin-top: 2.3em;
          font-size: 0.6em;
        }

        @include break('mobile-landscape') {
          margin-top: 1em;
          font-size: 0.6em;
          line-height: 0.8em;
        }

        .project-type {
          display: inline-block;
        }

        a {
          span {
            display: none;
          }
          color: $riskpool-dark;
          width: 25px;
          display: inline-block;
          color: transparent;
          height: 25px;
          overflow: hidden;

          &:after {
            font-family: $font-glyphs;
            content: '\e024';
            color: $riskpool-dark;
            font-size: 44px;
            line-height: 1em;
            margin-top: -3px;
            position: absolute;
            left: 0px;
          }
        }

        span {
          font-family: $font-free-universal;
          margin-right: 16px;
        }

        .published-datetime {
          display: inline;
        }
      }
    }
  }
}
